<div fxFlex fxLayout="column" fxLayoutGap="0px">
  <div fxLayout="row wrap">
    <div fxFlex="50" fxFlex.lt-md="100" fxLayout="column">
      <div fxLayoutAlign="center">

      </div>

      <div fxLayout="row" fxLayoutAlign="center">
        <h2 style="margin-top:100px" class="my-primary-text">{{ this.countryData.country }}</h2>
      </div>

      <div fxLayout="row" fxLayoutAlign="center">

      </div>

      <div fxLayout="row" fxLayoutAlign="center">
        <a href='https://www.freepik.com/vectors/business'>Business vector created by pikisuperstar - www.freepik.com</a>
      </div>
    </div>

    <div fxFlex="50" fxFlex.lt-md="100" fxLayout="column" class="mat-app-background">
      <div fxLayout="column" fxLayoutAlign="center" style="margin-top:30px">
        <div fxLayout="row" fxLayoutAlign="center">
          <h3>

          </h3>
        </div>

        <div fxLayout="row" fxLayoutAlign="center">
          <h4>Covid-19 statistics in {{ this.countryData.country }}</h4>
        </div>
      </div>

      <div fxLayout="column" fxLayoutAlign="center" style="margin-top:100px">
        <mat-list>
          <mat-list-item> Continente: {{ this.countryData.continent }} </mat-list-item>
          <mat-list-item> población: {{ this.countryData.population | number }}</mat-list-item>
          <mat-list-item> casos activos: {{ this.countryData.cases.active | number}}</mat-list-item>
          <mat-list-item> casos críticos: {{ this.countryData.cases.critical | number}}</mat-list-item>
          <mat-list-item> casos recuperados: {{ this.countryData.cases.recovered | number}}</mat-list-item>
          <mat-list-item> Muertes: {{ this.countryData.deaths.total | number}} </mat-list-item>
        </mat-list>
      </div>
    </div>
  </div>
</div>


