<div fxFlex fxLayout="column" fxLayoutGap="0px">
  <div fxLayout="row wrap">
    <div fxFlex="50" fxFlex.lt-md="100" fxLayout="column">
      <div fxLayoutAlign="center">

      </div>

      <div fxLayout="row" fxLayoutAlign="center">
        <h2 style="margin-top:100px" class="my-primary-text">Nombre del país</h2>
      </div>

      <div fxLayout="row" fxLayoutAlign="center">

      </div>

      <div fxLayout="row" fxLayoutAlign="center">
        <a href='https://www.freepik.com/vectors/business'>Business vector created by pikisuperstar - www.freepik.com</a>
      </div>
    </div>

    <div fxFlex="50" fxFlex.lt-md="100" fxLayout="column" class="mat-app-background">
      <div fxLayout="column" fxLayoutAlign="center" style="margin-top:30px">
        <div fxLayout="row" fxLayoutAlign="center">
          <h3>

          </h3>
        </div>

        <div fxLayout="row" fxLayoutAlign="center">
          <h4>Covid-19 statistics in Country</h4>
        </div>
      </div>

      <div fxLayout="column" fxLayoutAlign="center" style="margin-top:100px">
        <mat-list>
          <mat-list-item> Continente: </mat-list-item>
          <mat-list-item> población: </mat-list-item>
          <mat-list-item> casos activos: </mat-list-item>
          <mat-list-item> casos críticos: </mat-list-item>
          <mat-list-item> casos recuperados: </mat-list-item>
          <mat-list-item> Muertes: </mat-list-item>
        </mat-list>
      </div>
    </div>
  </div>
</div>


